.subheader {
    color: white;
    background: black;

    & > div > div {
        height: 45px;
        font-size: 1.4em;
        font-weight: 700;
        flex-direction: row-reverse;
        align-items: center;
        font-variant: small-caps;
    }
}
